---
http_interactions:
- request:
    method: post
    uri: https://www.hybrid-analysis.com/api/v2/quick-scan/url-to-file
    body:
      encoding: UTF-8
      string: scan_type=all&url=http%3A%2F%2Ffile.tancyo.blog.shinobi.jp%2F524fe724
    headers:
      Api-Key:
      - HA_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":20,"hour":200},"used":{"minute":1,"hour":5},"limit_reached":false}'
      Api-Version:
      - 2.3.3
      Webservice-Version:
      - ProdPatch-HA.?-af7b27f
      Quick-Scan-Limits:
      - "[]"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5c5543e07ca3e17219246a80","sha256":"12395dad2094673865c0610644f4eef8016d8b081e412d9e7d852b266d67a165","scanners":[{"name":"VirusTotal","status":"no-result","progress":100,"total":null,"positives":null,"percent":null,"anti_virus_results":[]},{"name":"Metadefender","status":"malicious","progress":67,"total":10,"positives":1,"percent":10,"anti_virus_results":[]},{"name":"CrowdStrike
        Falcon Static Analysis (ML)","status":"no-result","progress":100,"total":null,"positives":null,"percent":null,"anti_virus_results":[]}],"whitelist":[{"id":"internal","value":false}],"reports":[],"finished":false}'
  recorded_at: Sat, 02 Feb 2019 07:16:48 GMT
recorded_with: VCR 4.0.0
