---
http_interactions:
- request:
    method: get
    uri: https://www.inoreader.com/stream/user/1006141524/tag/%E4%B8%8D%E5%AF%A9%E3%83%A1%E3%83%BC%E3%83%AB
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      Last-Modified:
      - Wed, 30 Jan 2019 07:52:19 +0000
      Etag:
      - '1548834739525269'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\">\n<channel>\n<title>不審メール via
        ばらまきメールウォッチャー on Inoreader</title>\n<link>https://www.inoreader.com/stream/user/1006141524/tag/%E4%B8%8D%E5%AF%A9%E3%83%A1%E3%83%BC%E3%83%AB/view/html</link>\n<description><![CDATA[]]></description>\n<atom:link
        href=\"https://www.inoreader.com/stream/user/1006141524/tag/%E4%B8%8D%E5%AF%A9%E3%83%A1%E3%83%BC%E3%83%AB\"
        rel=\"self\" type=\"application/rss+xml\"></atom:link>\n<generator>Inoreader
        (https://www.inoreader.com)</generator>\n<pubDate>Wed, 30 Jan 2019 08:19:14
        +0000</pubDate>\n<lastBuildDate>Wed, 30 Jan 2019 08:19:14 +0000</lastBuildDate>\n<language>en-US</language>\n<item>\n<title>will
        we schedule an appointment for tomorrow?</title>\n<link>https://sea.ap.teacup.com/bsai/819.html</link>\n<description><![CDATA[Looking
        for a beautiful girl to fuck?  \nI'm looking for a man! If you like me and
        you want me, then go to my site - my contacts are there \n \nhttp://goodsnews.su/
        \ \n[画像]]]></description>\n<pubDate>Wed, 30 Jan 2019 07:52:20 +0000</pubDate>\n<category>不審メール</category>\n<dc:creator></dc:creator>\n<source
        url=\"http://sea.ap.teacup.com/bsai/\">【防災関連グッズ】飲料水 在庫有り！</source>\n<guid
        isPermaLink=\"false\">http://www.inoreader.com/article/3a9c6e79dd40baa5</guid>\n</item>\n<item>\n<title>will
        we schedule an appointment for tomorrow?</title>\n<link>https://sea.ap.teacup.com/bsai/821.html</link>\n<description><![CDATA[Looking
        for a beautiful girl to fuck?  \nI'm looking for a man! If you like me and
        you want me, then go to my site - my contacts[...]
