---
http_interactions:
- request:
    method: post
    uri: https://www.hybrid-analysis.com/api/v2/quick-scan/url-to-file
    body:
      encoding: UTF-8
      string: scan_type=all&url=http%3A%2F%2Ffile.tancyo.blog.shinobi.jp%2F0f68aa84
    headers:
      Api-Key:
      - HA_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Api-Limits:
      - '{"limits":{"minute":20,"hour":200},"used":{"minute":2,"hour":4},"limit_reached":false}'
      Api-Version:
      - 2.3.3
      Webservice-Version:
      - ProdPatch-HA.?-af7b27f
      Quick-Scan-Limits:
      - "[]"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5c5541c37ca3e16c464d9c1b","sha256":"a65233cb78ffab0ac356030f80f4397511d1c943e25905ca0d0584eb63a19523","scanners":[{"name":"VirusTotal","status":"no-result","progress":100,"total":null,"positives":null,"percent":null,"anti_virus_results":[]},{"name":"Metadefender","status":"malicious","progress":100,"total":31,"positives":3,"percent":10,"anti_virus_results":[]},{"name":"CrowdStrike
        Falcon Static Analysis (ML)","status":"no-result","progress":100,"total":null,"positives":null,"percent":null,"anti_virus_results":[]}],"whitelist":[{"id":"internal","value":false}],"reports":[],"finished":true}'
  recorded_at: Sat, 02 Feb 2019 07:07:47 GMT
recorded_with: VCR 4.0.0
